<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <title>Gestion des tournois</title>
    <meta charset="UTF-8">
  <th:block th:insert="fragments/base.html :: head"></th:block>
</head>
<body>
<th:blockquote th:insert="fragments/header.html :: nav"></th:blockquote>
<div class="container">
  <h4 class="text-center my-3">Gestion des tournois</h4>

    <table class="table table-bordered table-striped table-dark text-center">
        <thead class="thead-dark">
        <tr class="text-center">
        <th scope="col">Nom du tournoi</th>
        <th scope="col">Date de début</th>
        <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tournament : ${tournaments}">
        <td th:text="${tournament.name}"></td>
        <td th:text="${tournament.dateTime}"></td>
        <td>
            <a th:href="@{/tournaments/edit/{id}(id=${tournament.id})}" class="btn btn-warning m-2">Modifier</a>
            <a th:href="@{/tournaments/delete/{id}(id=${tournament.id})}" class="btn btn-danger m-2">Supprimer</a>
        </td>
        </tr>
        </tbody>
        </table>
    <div class =" btn-group-horizontal text-center my-3 ">
    <a th:href="@{/tournaments/addTournament}"  class="btn btn-primary my-3">Ajouter un tournoi</a>
    <a th:href="@{/games/gameAdd}" class="btn btn-warning my-3">Ajouter une partie</a>
    <a th:href="@{/user/addPlayer}" class="btn btn-info my-3">Ajouter un joueur</a>
    <a th:href="@{/games/gameList}" class="btn btn-success my-3">Liste des parties</a>
</div>
</div>
</body>
</html>