<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gestion des tournois</title>
    <meta charset="UTF-8">
  <th:block th:insert="fragments/base.html :: head"></th:block>
</head>
<body>
<div class="container">
  <h4 class="text-center">Gestion des tournois</h4>

    <table class="table table-bordered table-striped table-dark text-center">
        <thead>
        <tr>
        <th scope="col">Nom du tournoi</th>
        <th scope="col">Date de début</th>
        <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tournament : ${tournaments}">
        <td th:text="${tournament.name}"></td>
        <td th:text="${tournament.date}"></td>
        <td>
            <a th:href="@{/games/gameList}" class="btn btn-primary">Ajouter une partie</a>
            <a th:href="@{/tournament/{id}/edit(id=${tournament.id})}" class="btn btn-warning">Modifier</a>
            <a th:href="@{/tournament/{id}/delete(id=${tournament.id})}" class="btn btn-danger">Supprimer</a>
        </td>

        </tr>
        </tbody>
        </table>
    <a th:href="@{/tournaments/addTournament}"   class="btn btn-primary">Ajouter un tournoi</a>

</div>

</body>
</html>