<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
  <th:block th:insert="fragments/base.html :: head"></th:block>
</head>
<body>
<div class="container">
  <h3 class="text-center">Votre profil</h3>
      <h4 class="text-center">Informations personnelles</h4>
      <table class="table table-bordered table-striped table-dark text-center">
        <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Pseudo</th>
          <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
      </table>
    </div>
<table class="table table-bordered table-striped table-dark text-center">
    <thead>
    <tr>
        <th scope="col">Partie id :</th>
        <th scope="col">Date et heure :</th>
        <th scope="col">Tournoi :</th>
        <th scope="col">Joueur 1 :</th>
        <th scope="col">Joueur 2 :</th>
        <th scope="col">Résultat :</th>

        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game : ${games}">
        <input type="hidden" th:field="*{user.id}" />
        <td th:text="${game.id}"></td>
        <td th:text="${game.dateTime}"></td>
        <td th:text="${game.tournament.name}"></td>
        <td th:text="${game.whitePlayer.username}"></td>
        <td th:text="${game.blackPlayer.username}"></td>
        <td th:text="${game.result} ? 'Blanc' : 'Noir'"></td>
        <td>
            <a th:href="@{/games/setWinner/{id}(id=${game.id})}" class="btn btn-success">Blanc</a>
            <a th:href="@{/games/setWinner/{id}(id=${game.id})}" class="btn btn-success">Noir</a>
            <a th:href="@{/games/edit/{id}(id=${game.id})}" class="btn btn-warning">Modifier</a>
            <a th:href="@{/games/delete/{id}(id=${game.id})}" class="btn btn-danger">Supprimer</a>
        </td>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>