<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <th:block th:insert="fragments/base.html :: head"></th:block>
</head>
<body>
<div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center ">
        <div class="col-lg-12 col-xl-11">
            <div class="row">
                <div class="col-12">
                    <div class="card text-black  mb-0" style="border-radius: 1rem;">
                        <div class="card-body p-md-5 bg-dark">
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2 text-center text-white p-5">
                                <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png"
                                     class="img-fluid" alt="Sample image">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 p-5">
                                    <h3 class="text-center mb-4 text-white">Profil</h3>
                                    <table class="table table-bordered table-striped table-dark text-center">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Prénom</th>
                                            <th scope="col">Pseudo</th>
                                            <th scope="col">Email</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td th:text="${user.lastName}"></td>
                                            <td th:text="${user.firstName}"></td>
                                            <td th:text="${user.username}"></td>
                                            <td th:text="${user.email}"></td>
                                    </table>
                                </div>
                            </div>
                            <div class="row justify-content-center ">
                                <table class="table table-bordered table-striped table-dark text-center">
                                    <thead class="thead-dark">
                                    <tr class="text-center">
                                        <th scope="col" >Id partie :</th>
                                        <th scope="col">Date et heure :</th>
                                        <th scope="col">Tournoi :</th>
                                        <th scope="col">Joueur 1 :</th>
                                        <th scope="col">Joueur 2 :</th>
                                        <th scope="col">Résultat :</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    <tr th:each="game : ${games}">
                                        <input type="hidden" th:field="*{user.id}"/>
                                        <td th:text="${game.id}"></td>
                                        <td th:text="${game.dateTime}"></td>
                                        <td th:text="${game.tournament.name}"></td>
                                        <td th:text="${game.whitePlayer.username}"></td>
                                        <td th:text="${game.blackPlayer.username}"></td>
                                        <td th:text="${game.result} ? 'Blanc' : 'Noir'"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>