<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tournoi</title>
  <th:block th:insert="fragments/base.html :: head"></th:block>
</head>
<body>
<div class="container">
  <form method="post" th:action="@{/games/update/{id}(id=${game.id})}"  class="m-2" th:object="${game}">
      <div class="form-group">
          <label for="whitePlayer">Joueur 1</label>
            <select name="whitePlayer" id="whitePlayer" class="form-control">
                <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="blackPlayer">Joueur 2</label>
            <select name="blackPlayer" id="blackPlayer" class="form-control">
                <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="tournament">Tournoi</label>
            <select name="tournament" id="tournament" class="form-control">
                <option th:each="tournament : ${tournaments}" th:value="${tournament.id}" th:text="${tournament.name}"></option>
            </select>
        </div>
      <div class="form-group">
          <label for="dateTime">Date et heure du match </label>
          <input type="datetime-local" class="form-control" id="dateTime"  name="dateTime" placeholder="Date et heure du match">
        </div>
      <div class="form-group">
          <label for="result">Résultat</label>
          <select name="result" id="result" class="form-control">
              <option value="0-0">0-0</option>
              <option value="1-0">1-0</option>
              <option value="0-1">0-1</option>
              <option value="0.5-0.5">0.5-0.5</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
    <a th:href="@{/tournaments/admin}" class="btn btn-danger my-3">Retour</a>
</div>
</div>

</body>
</html>