<nav th:fragment="header" class="navbar navbar-expand-lg navbar navbar-dark bg-dark mt-0 mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Gestion Tournoi Echec</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{'/tournaments/admin'}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/games/gameAdd'}">Ajouter une partie </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/games/gameList'}">Liste des parties </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/user/addPlayer'}">Ajouter un joueur </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link  d-flex justify-content-end" th:href="@{'/user/logout'}" th:if="${session.user != null}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


